/*      STYLE SHEET FOR HOMEPAGE        */

/*
Color Scheme Seafoam to Green:
#1A5E50 -----dark green
#84E3CF -----light seafoam
#3EDEBC -----seafoam
#375E56 -----dark dull green
#30AB90 -----medium green
*/


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    margin:0;
    line-height: 1.2;
    background: #BCE6D7;
}

header.primary{
  background:#375E56;
  color:#ffffff;
  text-shadow:-2px 2px #000000;
  padding: 40px;
}

#home-button{
  display: flex;
  justify-content: flex-start;
}

#home-button a{
  color: #ffffff;
  text-decoration: none;
  background-color: #30AB90;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.5s;
}

#home-button a:hover,
#home-button a:active{
    background-color: rgba(0, 80, 0, 1);
}

header.primary h1 {
  font-size: 5rem;
  /* T, R, B, L */
  margin: 20px 40px 50px 40px;
  text-align: center;
}

header.primary h2{
  font-size: 2rem;
        /* T/B, R/L */
  margin: 20px auto;
  text-align: center;
}

#main{
  width:70vw;
  margin: 40px auto;
  max-width: 960px;
}

#h2 {
  font-size: 3rem;
  /* Top/Bottom | Left/Right */
  margin: 1rem 1rem;
  color: #375E56;
  text-shadow: -2px 2px 2px #000000;
  text-align: left;
  display: inline-block;
  border-bottom: 2px solid #1A5E50;
}

#list {
  padding: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#list li {
  list-style-type: none;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

#list li a {
  color: #ffffff;
  text-decoration: none;
  background-color: #3EDEBC;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.5s;
}

#list a:hover,
#list a:active {
  background-color: rgba(0, 80, 0, 0.8);
}
